@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Raleway', sans-serif;
    background: #e8e3e4;
    color: #1A1717;
    font-size: 16px;
  }

  nav {
    background: rgba(232, 227, 228, 0.6);
    padding: 0 1.5rem;
    display: flex;
    width: 100%;
    position: fixed;
    .logo {
        // color: white;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1.5rem 0.5rem;
        flex-grow: 1;
        font-family: 'Cinzel', serif;
    }
    .cartIcon {
        font-size: 2rem;
        padding: 1.5rem 0.5rem;
        margin-top: 0.4rem;
    }
    .toggle {
        font-size: 2rem;
        padding: 1.2rem 0.5rem 0.8rem 0.5rem;
        margin-left: 1.5rem;
        margin-top: 0.4rem;
        text-align: right;
        display: none;
        cursor: pointer;
        @media (max-width: 768px) {
            display: block;
          }
    }
    .closeIcon {
        @media (max-width: 768px) {
            display: none;
          }
    }
    .menu {
        list-style-type: none;
        display: flex;
        margin-bottom: 0;
        li {    
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            padding: 1.5rem 2rem;
            white-space: nowrap;
            a {
                color: #1A1717;
                display: block;
                line-height: 100%;
                text-decoration: none;
                padding-bottom: 0.2rem;
                margin-top: 0.8rem;
                cursor: pointer;
                border-bottom: 1.5px solid transparent;
                &:hover {
                    text-decoration: none;
                    border-color:rgba(73, 89, 83, 0.6);
                    transition: 0.2s;
                    color: #495953;
                }
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            flex-basis: 100%;
            order: 2;
            display: none;
          }
      }
      .active {
        display: flex;
        }
      @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
      }
  }
  .cartSum {
    width: 30rem;
    background-color: rgba(232, 227, 228, 0.6);
    position: fixed;
    margin-top: 6.4rem;
    right: 0;
    padding: 1rem 0.5rem;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(73, 89, 83, 0.6);
    border-bottom: 2px solid rgba(73, 89, 83, 0.6);
    @media (max-width: 768px) {
      width: 20rem;
    }
    p {
      margin-top: 1.6rem;
      text-align: right;
    }
    section {
      width: 100%;
      text-align: left;
      padding-left: 1rem;
      padding-right: 1rem;
      ul {
        list-style-type: none;
        li {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          b {
            flex-basis: 60%;

          }
          div {
            flex-basis: 40%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          }
        }
      }
    }
  }
  .showCart {
    display: flex;
  }

  .customButton {
    height: 4rem;
    min-width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    background-color: transparent;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    &:hover {
      background-color: rgba(73, 89, 83, 0.6);
      color: rgb(232, 227, 228);
      transition: 0.2s;
    }
    &:focus {
      outline: 2px solid rgba(73, 89, 83, 0.4);
      transition: 0.2s;
    }


  }

  .customInput {
    background-color: transparent;
    border: 1px solid #1A1717;
    width: 15rem;
    padding: 0.4rem 1.2rem;
    border-radius: 4px;
    &:focus {
      outline: none;
      box-shadow: inset 0 1px 1px rgba(73, 89, 83, 0.6), 0 0 8px rgba(73, 89, 83, 0.6);
      transition: 0.2s;
    }
  }

//   Home Component

#homeHeading {
    background: url(assets/img/home-heading.jpg) no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

//   Rooms Component

#roomsHeading {
  background: url(assets/img/rooms-heading.jpg) no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#roomsList {
  .roomsListIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 10rem;
    @media (max-width: 768px) {
      margin: 5rem 5rem;
    }
    @media (max-width: 480px) {
      margin: 2rem 2rem;
    }
    h1 {
      font-family: 'Cinzel', serif;
    }
    p {
      text-align: center;
    }
  }
}

#roomsListCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 10rem;
  .roomItemBox {
    height: 32rem;
    width: 100%;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    margin-bottom: 1.6rem;
    display: flex;
    align-items: stretch;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      flex-basis: 100%;
    }
    .imgBox {
      min-width: 40rem;
      height: auto;
      background-color: #495953;
      img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
      }
      @media (max-width: 768px) {
        height: 24rem;
        min-width: 100%;
      }
      @media (max-width: 1024px) {
        width: 100%;
        height: 32rem;
      }
      @media (min-width: 1024px) {
        width: 40rem;
      }
    }
    .roomItemCont {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1.6rem 1.6rem;
      h2 {
        font-family: 'Cinzel', serif;
        // font-weight: bold;
        font-style: italic;

      }
      p {
        flex-grow: 1;
      }
      span {
        margin-right: 1rem;
        svg {
          transform: translateY(0.4rem);
        }
     
      }
      footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 2.4rem;
          margin-left: 1.6rem;
          font-style: italic;
          @media (max-width: 480px) {
            margin-bottom: 0.8rem;
          }
        }
        @media (max-width: 480px) {
          flex-direction: column;
          align-items: flex-end;
        }
      }
  
    }
  }
  @media (max-width: 768px) {
    margin: 5rem 5rem;
  }
  @media (max-width: 480px) {
    margin: 2rem 2rem;
  }
}

//   Treatment Component

#treatmentHeading {
  background: url(assets/img/treatment-heading.jpg) no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#treatmentsList {
  .treatmentsListIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 10rem;
    @media (max-width: 768px) {
      margin: 5rem 5rem;
    }
    @media (max-width: 480px) {
      margin: 2rem 2rem;
    }
    h1 {
      font-family: 'Cinzel', serif;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
  }
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 8rem;
  button {
    border-top: none;
    border-bottom: none;
    min-width: 12rem;
    height: 3rem;
  }
  
}

#treatmentsListCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 5rem 10rem;
  .treatmentItemBox {
    width: 30rem;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    margin: 0 0.8rem 1.6rem 0.8rem;
    display: flex;
    flex-direction: column;
    &::after {
      content: '';
      flex: auto;
    }
    .imgBox {
      width: 100%;
      height: 24rem;
      position: relative;
      button {
        display: none;
        position: absolute;
        bottom: 2.4rem;
        left: 50%;
        transform: translateX(-50%);
      }
      img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        z-index: -1;
        position: absolute;
      }
    }
    .showHover{
      background-color: rgba(232, 227, 228, 0.6);
      transition: 0.2s;
    }
    .showHover button{
      display: block;
      transition: 0.2s;
    }
    .treatmentItemCont {
      display: flex;
      flex-direction: column;
      // flex-grow: 1;
      padding: 1.6rem 1.6rem;
      h2 {
        font-family: 'Cinzel', serif;
        // font-weight: bold;
        font-style: italic;

      }
      p {
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
      }
      .showMore {
        text-overflow: initial;
        overflow: visible; 
        white-space: normal;
      }
      span {
        margin-right: 1rem;
        svg {
          transform: translateY(0.4rem);
        }
     
      }
      footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 2.4rem;
          margin-left: 1.6rem;
          font-style: italic;
        }
        button {
          background-color: transparent;
          color: rgb(73, 89, 83);
          border: none;
          svg {
            transform: translateY(0.4rem);
          }
          &:hover {
            text-decoration: underline;
          }
          &:focus {
            outline: none;
          }
        }
      }
  
    }
  }
  @media (max-width: 768px) {
    margin: 5rem 5rem;
  }
  @media (max-width: 480px) {
    margin: 2rem 2rem;
  }
}

// Bookings

#cartListBox {
  min-height: 100vh;
  margin: 0 20rem;

  header {
    color: rgb(73, 89, 83);
    border-bottom: 1.5px solid rgba(73, 89, 83, 0.6);
    padding-top: 12rem;
    margin-bottom: 4rem;
  }
  h3 {
    margin-left: 1.6rem;
  }

  .cartItemBox {
    border-bottom: 1.5px solid rgba(73, 89, 83, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    div {
      height: 6.4rem;
      display: flex;
      align-items: center;
    }
    button {
      width: 3.2rem;
      height: 3.2rem;
      font-size: 2.4rem;
      line-height: 3.2rem;
      background-color: transparent;
      border: none;
      &#delete {
        margin-right: 1.6rem;
      }
      &:hover {
        color: rgb(73, 89, 83);
        font-weight: bold;
      }
      &:focus {
        outline-color: rgba(73, 89, 83, 0.6);
      }
      &:disabled {
        color: #777777;
        font-weight: normal;
      }
      &:last-child {
        margin-right: 3.2rem;
      }
    }
    .first {
      margin-right: 3.2rem;
      .imgBox {
        height: 6.4rem;
        width: 6.4rem;
        margin-right: 3.2rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    // &:last-child {
    //   border-bottom: none;
    // }
    .second {
      margin-right: 4.8rem;
      .amount {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
      }
    }
  }
  .summary {
    margin: 1.6rem 6.4rem 1.6rem 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    span {
      margin-bottom: 3.2rem;
    }
  }
}

#footer {
  text-align: center;
  border-top: 1.5px solid rgba(73, 89, 83, 0.6);
  padding: 1.6rem;
  color: #777777;
}

// modals

#infoModal {
  position: fixed;
  background-color: orange;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 100ms ease-in;
  .modalWrapper {
    position: relative;
    background-color: #e8e3e4;
    max-width: 80rem;
    width: 80%;
    margin: 10% auto;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    @media (max-width: 768px) {
      width: 90%;
    }
    .logo {
      //min-height: 30rem;
      flex-basis: 40rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .modalContentWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .modalContent {
      width: 100%;
      flex-grow: 1;
      padding: 1.6rem 3.2rem;
      padding-top: 0;
      hr {
        border: 1.5px solid rgba(73, 89, 83, 0.6);
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .modalNav {
      width: 100%;
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding: 1.6rem 3.2rem;
      padding-bottom: 3.2rem;
    }
    .close {
      width: 4rem;
      height: 4rem;
      &:focus {
        outline-color: rgba(73, 89, 83, 0.6);
      }
      svg {
        height: 80%;
        width: 80%;
      }
    }
  }
}

// date picker section

.datePickerWrap {
  display: flex;
  padding: 1.6rem;
  & .datePickerCont {
    &:first-child {
      margin-right: 3.2rem;
    }

    & input {
      margin-right: 0.8rem;
    }
  }

}


//date time picker

.bootstrap-datetimepicker-widget { 

  background-color: #e8e3e4;
  &.dropdown-menu {
    &.bottom {
        &:before {
            border-bottom-color: #e8e3e4;
        }

        &:after {
            border-bottom-color: #e8e3e4;
        }
    }

    &.top {
        &:before {
            border-top-color: #e8e3e4;
        }

        &:after {
            border-top-color: #e8e3e4;
        }
    }
  }

  table {
    & thead tr:first-child th {
      &:hover {
          background: rgb(73, 89, 83);
          color: #e8e3e4;
      }

  }

      & td {
        &.today {
          &:before {
              border-bottom-color: rgb(73, 89, 83);
              border-top-color: rgb(73, 89, 83);
          }

      }
      
      &.active,
      &.active:hover {
          background-color:rgb(73, 89, 83);
          color: #e8e3e4;
      }
      &.active.today:before {
        border-bottom-color: #e8e3e4;
    }

    span {
      &.active {
        background-color:rgb(73, 89, 83);
        color: #e8e3e4;
      }
  }
    
      }
  }
}

.input-group.date {
  & .input-group-addon {
    background-color: transparent;
    border: none;
    color: #1A1717;
    border-radius: 4px;
    &:hover {
      background-color:rgb(73, 89, 83);
      color: #e8e3e4;
      transition: 0.2s;
    }
  }
}