@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Raleway', sans-serif;
    background: #e8e3e4;
    color: #1A1717;
    font-size: 16px;
    .modal-open {
      overflow: hidden;
  }
  }

  nav {
    background: rgba(232, 227, 228, 0.6);
    padding: 0 1.5rem;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 9998;
    .logo {
        // color: white;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1.5rem 0.5rem;
        flex-grow: 1;
        font-family: 'Cinzel', serif;
        a {
          cursor: pointer;
          color: inherit;
          text-decoration: inherit;
        }
    }
    .cartIcon {
        font-size: 2rem;
        padding: 1.5rem 0.5rem;
        margin-top: 0.4rem;
    }
    .toggle {
        font-size: 2rem;
        padding: 1.2rem 0.5rem 0.8rem 0.5rem;
        margin-left: 1.5rem;
        margin-top: 0.8rem;
        text-align: right;
        display: none;
        cursor: pointer;
        @media (max-width: 768px) {
            display: block;
          }
    }
    .closeIcon {
        @media (max-width: 768px) {
            display: none;
          }
    }
    .menu {
        list-style-type: none;
        display: flex;
        margin-bottom: 0;
        li {    
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            padding: 1.5rem 2rem;
            white-space: nowrap;
            a {
                color: #1A1717;
                display: block;
                line-height: 100%;
                text-decoration: none;
                padding-bottom: 0.2rem;
                margin-top: 0.8rem;
                cursor: pointer;
                border-bottom: 1.5px solid transparent;
                &:hover {
                    text-decoration: none;
                    border-color:rgba(73, 89, 83, 0.6);
                    transition: 0.2s;
                    color: #495953;
                }
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            flex-basis: 100%;
            order: 2;
            display: none;
          }
      }
      .active {
        display: flex;
        }
      @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
      }
  }
  .cartSum {
    width: 30rem;
    background-color: rgba(232, 227, 228, 0.6);
    position: fixed;
    margin-top: 6.4rem;
    right: 0;
    padding: 1rem 0.5rem;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(73, 89, 83, 0.6);
    border-bottom: 2px solid rgba(73, 89, 83, 0.6);
    @media (max-width: 480px) {
      width: 100%;
    }
    p {
      margin-top: 1.6rem;
      text-align: right;
    }
    section {
      width: 100%;
      text-align: left;
      padding-left: 1rem;
      padding-right: 1rem;
      ul {
        list-style-type: none;
        li {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          b {
            flex-basis: 60%;

          }
          div {
            flex-basis: 40%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          }
        }
      }
    }
  }
  .showCart {
    display: flex;
  }

  .customButton {
    height: 4rem;
    min-width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    background-color: transparent;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    &:hover {
      background-color: rgba(73, 89, 83, 0.6);
      color: rgb(232, 227, 228);
      transition: 0.2s;
    }
    &:focus {
      outline: 2px solid rgba(73, 89, 83, 0.4);
      transition: 0.2s;
    }
    &.colored {
      background-color: rgba(73, 89, 83, 0.6);
      color: rgb(232, 227, 228);
      &:hover {
        background-color: transparent;
        color: #1A1717;
      }
      &:disabled {
        cursor: not-allowed;
        background-color: rgba(73, 89, 83, 0.6);
        color: rgb(232, 227, 228);
      }
    }
    &.secondary {
      &:hover {
        background-color: #EFEBEC;
        color: #1A1717;
      }
      &:focus {
        outline: 2px solid rgba(73, 89, 83, 0.4);
      }
    }


  }

  .customInput {
    background-color: transparent;
    border: 1px solid #1A1717;
    width: 15rem;
    padding: 0.4rem 1.2rem;
    border-radius: 4px;
    &:focus {
      outline: none;
      box-shadow: inset 0 1px 1px rgba(73, 89, 83, 0.6), 0 0 8px rgba(73, 89, 83, 0.6);
      transition: 0.2s;
    }
  }

//   Home Component

#homeHeading {
    background: url(assets/img/home-heading.jpg) no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;

    a {
      position: absolute;
      bottom: 4.6rem;
      left: 50%;
      transform: translateX(-50%);
      width: 6.4rem;
      height: 6.4rem;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: rgba(232, 227, 228, 0.6);
        transition: .2s;
      }
      &:focus {
        outline-color: rgba(232, 227, 228, 0.6);
      }
    }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 10rem;
  margin-top: 0;

  .logo {
    height: 32rem;
    @media (max-width: 768px) {
      height: 24rem;
    }
    img {
      width: 100%;
      height: 100%; 
      object-fit: cover;
    }
  }
  p {
    font-style: italic;
    text-align: center;
  }
  @media (max-width: 768px) {
    margin: 5rem 5rem;
  }
  @media (max-width: 480px) {
    margin: 2rem 2rem;
  }
}

#photoLine {
  background: url(assets/img/home-1.jpg) no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 10rem;
  &>div {
    display: flex;
    margin: 3.2rem;
    .imgBox {
      min-width: 40rem;
      height: auto;
      img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
      }
    @media (max-width: 1024px) {
      min-width: 30rem;

    }
    @media (max-width: 480px) {
      min-width: 20rem;
    }
    }
    &>div:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 3.2rem;
      a {
        align-self: flex-start;
        color: rgb(73, 89, 83);
        cursor: pointer;
        &:hover {
          color: rgba(73, 89, 83, 0.6);
          transition: .2s;
        }
      }
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    // @media (max-width: 480px) {
    //   margin: 2rem 2rem;
    // }
  }
  &>div:last-child {
    flex-direction:row-reverse;
    &>div:last-child {
      margin-left: 0;
      margin-right: 3.2rem;
      @media (max-width: 768px) {
        margin-right: 0;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    margin: 5rem 5rem;
  }
  @media (max-width: 480px) {
    margin: 2rem 2rem;
  }
}

#reviews {
  border-top: 1.5px solid rgba(73, 89, 83, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem;
  button {
    background-color: transparent;
    border: none;
    width: 4rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: rgba(73, 89, 83, 0.6);
      transition: 0.2s;
      svg {
        fill: rgb(232, 227, 228);
      }
    }
    &:focus {
      outline-color: rgba(73, 89, 83, 0.6);
    }
    @media (max-width: 768px) {
      width: 2rem;
      height: 2.5rem;    }
  }
  button:first-child {
    margin-right: 3.2rem;
  }
  button:last-child {
    margin-left: 3.2rem;
  }
  &>div {
    display: flex;
    .imgBox {
      max-width: 32rem;
      max-height: 20rem;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        overflow: hidden;
      }
    }
    div:last-child {
      margin-left: 3.2rem;
      max-width: 32rem;
      @media (max-width: 768px) {
        margin-left: 0;
        max-width: 32rem;

      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    padding: 5rem 5rem;
    min-height: 32rem;
  }
  @media (max-width: 480px) {
    padding: 2rem 2rem;
  }
}

//   Rooms Component

#roomsHeading {
  background: url(assets/img/rooms-heading.jpg) no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10rem;
    font-family: 'Cinzel', serif;
    background-color: rgba(232, 227, 228, 0.4);
    padding: 1rem 3rem;
    @media (max-width: 768px) {
      font-size: 5rem;
    }
  }
  a {
    position: absolute;
    bottom: 4.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6.4rem;
    height: 6.4rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: rgba(232, 227, 228, 0.6);
      transition: .2s;
    }
    &:focus {
      outline-color: rgba(232, 227, 228, 0.6);
    }
  }
}

#roomsList {
  .roomsListIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    @media (max-width: 768px) {
      padding: 5rem 5rem;
    }
    @media (max-width: 480px) {
      padding: 2rem 2rem;
    }
    h1 {
      font-family: 'Cinzel', serif;
    }
    p {
      text-align: center;
    }
  }
}

#roomsListCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 10rem;
  .roomItemBox {
    height: 32rem;
    width: 100%;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    margin-bottom: 1.6rem;
    display: flex;
    align-items: stretch;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      flex-basis: 100%;
    }
    .imgBox {
      min-width: 40rem;
      height: auto;
      background-color: #495953;
      img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
      }
      @media (max-width: 768px) {
        height: 24rem;
        min-width: 100%;
      }
      @media (max-width: 1024px) {
        width: 100%;
        height: 32rem;
      }
      @media (min-width: 1024px) {
        width: 40rem;
      }
    }
    .roomItemCont {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1.6rem 1.6rem;
      h2 {
        font-family: 'Cinzel', serif;
        // font-weight: bold;
        font-style: italic;

      }
      p {
        flex-grow: 1;
      }
      span {
        margin-right: 1rem;
        svg {
          transform: translateY(0.4rem);
        }
     
      }
      footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 2.4rem;
          margin-left: 1.6rem;
          font-style: italic;
          @media (max-width: 480px) {
            margin-bottom: 0.8rem;
          }
        }
        @media (max-width: 480px) {
          flex-direction: column;
          align-items: flex-end;
        }
      }
  
    }
  }
  @media (max-width: 768px) {
    margin: 5rem 5rem;
  }
  @media (max-width: 480px) {
    margin: 2rem 2rem;
  }
}

//   Treatment Component

#treatmentHeading {
  background: url(assets/img/treatment-heading.jpg) no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10rem;
    font-family: 'Cinzel', serif;
    background-color: rgba(232, 227, 228, 0.4);
    padding: 1rem 3rem;
    @media (max-width: 768px) {
      font-size: 5rem;
    }
  }
  a {
    position: absolute;
    bottom: 4.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6.4rem;
    height: 6.4rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: rgba(232, 227, 228, 0.6);
      transition: .2s;
    }
    &:focus {
      outline-color: rgba(232, 227, 228, 0.6);
    }
  }
}

#treatmentsList {
  .treatmentsListIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    @media (max-width: 768px) {
      padding: 5rem 5rem;
    }
    @media (max-width: 480px) {
      padding: 2rem 2rem;
    }
    h1 {
      font-family: 'Cinzel', serif;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
  }
}

.filters {
  padding: 2rem;
  display: flex;
  justify-content: center;

  select {
    width: 18rem;
    background-color: transparent;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    // font-size: 16px;
    &:focus {
      outline: none;
      background-color: rgb(232, 227, 228);
      border-color: rgba(73, 89, 83, 0.6);;
      box-shadow: inset 0 1px 1px rgba(73, 89, 83, 0.6), 0 0 8px rgba(73, 89, 83, 0.6);
    }
    option {
      background-color: rgb(232, 227, 228);
    }
  }
  
}

#treatmentsListCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 5rem 10rem;
  .treatmentItemBox {
    max-width: 30rem;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    margin: 0 0.8rem 1.6rem 0.8rem;
    display: flex;
    flex-direction: column;
    .imgBox {
      width: 100%;
      height: 24rem;
      position: relative;
      button {
        display: none;
        position: absolute;
        bottom: 2.4rem;
        left: 50%;
        transform: translateX(-50%);
      }
      img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        z-index: -1;
        position: absolute;
      }
    }
    .showHover{
      background-color: rgba(232, 227, 228, 0.6);
      transition: 0.2s;
    }
    .showHover button{
      display: block;
      transition: 0.2s;
    }
    .treatmentItemCont {
      display: flex;
      flex-direction: column;
      // flex-grow: 1;
      padding: 1.6rem 1.6rem;
      h2 {
        font-family: 'Cinzel', serif;
        // font-weight: bold;
        font-style: italic;

      }
      p {
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
      }
      .showMore {
        text-overflow: initial;
        overflow: visible; 
        white-space: normal;
      }
      span {
        margin-right: 1rem;
        svg {
          transform: translateY(0.4rem);
        }
     
      }
      footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 2.4rem;
          margin-left: 1.6rem;
          font-style: italic;
        }
        button {
          background-color: transparent;
          color: rgb(73, 89, 83);
          border: none;
          svg {
            transform: translateY(0.4rem);
          }
          &:hover {
            text-decoration: underline;
          }
          &:focus {
            outline: none;
          }
        }
      }
  
    }
  }
  @media (max-width: 768px) {
    margin: 5rem 5rem;
  }
  @media (max-width: 480px) {
    margin: 2rem 2rem;
  }
}

// Bookings

#cartListBox {
  min-height: 100vh;
  margin: 0 20rem;

  header {
    color: rgb(73, 89, 83);
    border-bottom: 1.5px solid rgba(73, 89, 83, 0.6);
    padding-top: 12rem;
    margin-bottom: 4rem;
  }
  h3 {
    margin-left: 1.6rem;
  }
  p {
    padding: 1.6rem;
    border-bottom: 1.5px solid rgba(73, 89, 83, 0.6);
  }
  .cartItemBox {
    border-bottom: 1.5px solid rgba(73, 89, 83, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    div {
      height: 6.4rem;
      display: flex;
      align-items: center;
    }
    button {
      width: 3.2rem;
      height: 3.2rem;
      font-size: 2.4rem;
      line-height: 3.2rem;
      background-color: transparent;
      border: none;
      &.delete {
        margin-right: 1.6rem;
      }
      &:hover {
        color: rgb(73, 89, 83);
        font-weight: bold;
      }
      &:focus {
        outline-color: rgba(73, 89, 83, 0.6);
      }
      &:disabled {
        color: #777777;
        font-weight: normal;
      }
      &:last-child {
        margin-right: 3.2rem;
      }
    }
    .first {
      margin-right: 3.2rem;
      .imgBox {
        height: 6.4rem;
        width: 6.4rem;
        margin-right: 3.2rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      @media (max-width: 768px) {
        margin-right: 0;
      }
    }
    // &:last-child {
    //   border-bottom: none;
    // }
    .second {
      margin-right: 4.8rem;
      .amount {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
      }
      .price {
        min-width: 10rem;
        text-align: right;
      }
      @media (max-width: 768px) {
        align-self: center;
      }
    }
    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .summary {
    margin: 1.6rem 6.4rem 1.6rem 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    span {
      margin-bottom: 3.2rem;
    }
    @media (max-width: 768px) {
      margin-right: 0;
    }
  }
  @media (max-width: 1024px) {
    margin: 0 5rem;
  }
  @media (max-width: 480px) {
    margin: 0 2rem;
  }
}

#contact {
  border-top: 1.5px solid rgba(73, 89, 83, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 10rem;
  color: #777777;
  .imgBox {
    width: 40rem;
    height: 20rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 480px) {
      width: 30rem;
      height: 15rem;
    }
  }
  &>div:last-child {
    width: 40rem;
    h4 {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #1A1717;
    }
    svg {
      transform: translateY(2px);
      margin-right: 0.8rem;
    }
    @media (max-width: 480px) {
      width: 20rem;
    }
  }
  @media (max-width: 768px) {
    padding: 5rem 5rem;
  }
  @media (max-width: 480px) {
    padding: 2rem 2rem;
    flex-direction: column;
  }
}

#footer {
  text-align: center;
  border-top: 1.5px solid rgba(73, 89, 83, 0.6);
  padding: 1.6rem;
  color: #777777;
}

// modals

#infoModal {
  position: fixed;
  background-color: orange;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 100ms ease-in;
  .modalWrapper {
    position: relative;
    background-color: #e8e3e4;
    width: 60%;
    min-width: 700px;
    max-width: 1000px;
    margin: 10% auto;
    border: 1.5px solid rgba(73, 89, 83, 0.6);
    display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    @media (max-width: 1024px) {
      flex-direction: column;
      width: 80%;
    }
    @media (max-width: 768px) {
      width: 90%;
      min-width: 100px;
    }

    .logo {
      //min-height: 30rem;
      flex-basis: 40rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .modalContentWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-basis: 100%;
    }
    .modalContent {
      width: 100%;
      flex-grow: 1;
      padding: 1.6rem 3.2rem;
      padding-top: 0;
      hr {
        border: 1.5px solid rgba(73, 89, 83, 0.6);
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex-basis: 100%;
        input {
          width: 32rem;
          margin-bottom: 1.6rem;
          @media (max-width: 1024px) {
            width: 80%;
          }
          @media (max-width: 480px) {
            width: 100%;
          }
        }
        h3 {
          margin-bottom: 3.2rem;
        }
        button {
          width: 32rem;
          margin-bottom: auto;
          @media (max-width: 1024px) {
            width: 80%;
          }
          @media (max-width: 480px) {
            width: 100%;
          }
        }
        p {
          margin-top: 3.2rem;
        }

        a {
          cursor: pointer;
        }
      }
    }
    .modalNav {
      width: 100%;
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding: 1.6rem 3.2rem;
      padding-bottom: 3.2rem;
      button:first-child {
        margin-right: 0.8rem;
        @media (max-width: 480px) {
          margin-right: 0;
          margin-bottom: 0.8rem;
        }
      }
      @media (max-width: 480px) {
        flex-direction: column;
      }
    }
    .close {
      width: 4rem;
      height: 4rem;
      &:focus {
        outline-color: rgba(73, 89, 83, 0.6);
      }
      svg {
        height: 80%;
        width: 80%;
      }
    }
  }
}

// date picker section

.datePickerWrap {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  &>div {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  & .datePickerCont {
    &:first-child {
      margin-right: 3.2rem;
      @media (max-width: 768px) {
        margin-bottom: 1.6rem;
        margin-right: auto;
      }
    }

    & input {
      margin-right: 0.8rem;
    }
    @media (max-width: 768px) {
      margin-right: auto;
    }
  }
  .invalidMsg {
    margin-top: 0.4rem;
    margin-bottom: 0;
  }


}


//date time picker

.bootstrap-datetimepicker-widget { 

  background-color: #e8e3e4;
  &.dropdown-menu {
    &.bottom {
        &:before {
            border-bottom-color: #e8e3e4;
        }

        &:after {
            border-bottom-color: #e8e3e4;
        }
    }

    &.top {
        &:before {
            border-top-color: #e8e3e4;
        }

        &:after {
            border-top-color: #e8e3e4;
        }
    }
  }

  table {
    & thead tr:first-child th {
      &:hover {
          background: rgb(73, 89, 83);
          color: #e8e3e4;
      }

  }

      & td {
        &.today {
          &:before {
              border-bottom-color: rgb(73, 89, 83);
              border-top-color: rgb(73, 89, 83);
          }

      }
      
      &.active,
      &.active:hover {
          background-color:rgb(73, 89, 83);
          color: #e8e3e4;
      }
      &.active.today:before {
        border-bottom-color: #e8e3e4;
    }

    span {
      &.active {
        background-color:rgb(73, 89, 83);
        color: #e8e3e4;
      }
  }
    
      }
  }
}

.input-group.date {
  & .input-group-addon {
    background-color: transparent;
    border: none;
    color: #1A1717;
    border-radius: 4px;
    &:hover {
      background-color:rgb(73, 89, 83);
      color: #e8e3e4;
      transition: 0.2s;
    }
  }
}

// Summary 
#summaryBox {
  min-height: 100vh;
  margin: 0 20rem;
  margin-bottom: 1.6rem;

  header {
    color: rgb(73, 89, 83);
    border-bottom: 1.5px solid rgba(73, 89, 83, 0.6);
    padding-top: 12rem;
    margin-bottom: 4rem;
  }

  .btnsSection {
    display: flex;
    justify-content: center;
    margin: 3.2rem 1.6rem;
    button:first-child {
      margin-right: 1.6rem;
      @media (max-width: 480px) {
        margin-right: 0;
      }
    }
    @media (max-width: 480px) {
      flex-direction: column-reverse;
      align-items: center;
    }
    button:last-child {
      @media (max-width: 480px) {
        margin-bottom: 1.6rem;
      }
    }
  }

  .summarySection {

    display: flex;
    border-bottom: 1.5px solid rgba(73, 89, 83, 0.6);

    &>div:first-child {
      width: 20rem;
      border-right: 1.5px solid rgba(73, 89, 83, 0.6);
      padding: 1.6rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-transform: uppercase;
      @media (max-width: 768px) {
        width: 100%;
        border-right: 0;
        justify-content: flex-start;

      }
    }
    &>div:last-child {
      padding: 1.6rem;
      width: 100%;
      max-width: 64rem;
      ul {
        list-style-type: none;
        margin-bottom: 0;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.6rem;
          &:last-child {
            margin-bottom: 0;
          }
          &>div {
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
             margin-bottom: 0.8rem;
            }
            &>* {
              margin-right: 1.6rem;
            }
          }
          .imgBox {
            width: 8rem;
            height: auto;
            img {
              width: 100%;
              height: 100%; 
              object-fit: cover;
            }
          }
          // div {
          //   flex-basis: 40%;
          //   display: flex;
          //   justify-content: space-between;
          //   align-items: flex-end;
          // }
          @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;      
          }
        }
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  @media (max-width: 1024px) {
    margin: 0 5rem;
  }
  @media (max-width: 480px) {
    margin: 0 2rem;
  }
}

// messeges

.invalidMsg {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.validMsg {
  background-color: rgb(58, 143, 58);
  margin: auto;
  width: 60%;
  padding: 1.6rem 0.8rem;
  color: #e8e3e4;
  font-size: 1.2rem;
  text-align: center;
  p {
    margin: auto;
  }
  @media (max-width: 1024px) {
    width: 80%;
  }
  @media (max-width: 480px) {
    margin: 0;
    width: 100%
  }
}

// register

#registerBox {
  min-height: 100vh;
  margin: 0 20rem;
  margin-bottom: 1.6rem;

  header {
    color: rgb(73, 89, 83);
    border-bottom: 1.5px solid rgba(73, 89, 83, 0.6);
    padding-top: 12rem;
    margin-bottom: 4rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0 1.6rem;
    align-items: center;

    input {
      width: 24rem;
    }

    label {
      margin-top: 1.6rem;
    }

    span {
      margin-top: 1.6rem;
    }

    .passStrenght {
      margin-top: 0.4rem;
      margin-bottom: 0;
    }

    .invalidMsg {
      margin-top: 0.4rem;
      margin-bottom: 0;
    }

    p {
      margin-top: 0.8rem;
      span {
        font-size: 1.2rem;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      &:last-child {
        flex-direction: row;
        margin: 3.2rem 1.6rem;
        button:first-child {
          margin-right: 1.6rem;
          @media (max-width: 480px) {
            margin-right: 0;
          }
        }
        @media (max-width: 480px) {
          flex-direction: column-reverse;
          align-items: center;
        }
        button:last-child {
          @media (max-width: 480px) {
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    margin: 0 5rem;
  }
  @media (max-width: 480px) {
    margin: 0 2rem;
  }
}