$main-color: #e8e3e4;
$main-color-op-6: rgba(232, 227, 228, 0.6);
$secondary-color: #495953;
$secondary-color-op-6: rgba(73, 89, 83, 0.6);
$dark-color: #1a1717;
$light-gray-color: #777777;

$font-main: "Raleway", sans-serif;
$font-secondary: "Cinzel", serif;

$border-style: 1.5px solid;

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

$mp-small: 2rem 2rem;
$mp-medium: 5rem 5rem;
